* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3D9EFF
}

body {
    font-family: 'Matter';
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
    overflow-x: hidden;
    color: #0F0F0F;
    background: #F8F8FF;

}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 45px;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

a {
    transition: all ease-in-out .3s;
    text-decoration: none;
    color: var(--primary-color);
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.d-btn {
    font-size: 23px;
    padding: 10px 60px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    height: 55px;
    cursor: pointer;
}

.d-btn:hover {
    opacity: .8;
}

.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:hover {
    color: #fff;
    background: var(--primary-color)
}

.btn-primary {
    color: #fff;
    background: var(--primary-color)
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.blue-info-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-color)
}

.small-title {
    font-size: 24px;
    font-weight: 500;
}

.m-title {
    font-size: 35px;
    font-weight: 500;
}

.color-gray {
    color: #9A9A9A;
}

a.color-gray:hover {
    color: var(--primary-color)
}

.s-title {
    font-size: 22px;
    font-weight: 500;
}

.s-title span {
    font-size: 16px;
    opacity: .45;
    padding-left: 15px;
}


/**********Header Css Start**********/

.header-top {
    background: #545961;
}

.header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.site-logo {
    color: var(--primary-color);
    font-size: 49px;
}

ul.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.nav-left {
    display: flex;
    align-items: center;
}

ul.navbar-nav .nav-item a {
    display: inline-block;
    padding: 23px 30px;
    position: relative;
}

ul.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

ul.navbar-nav .nav-item.active {
    background: rgb(255 255 255 / 09%);
}

ul.navbar-nav .nav-item.active>a:before {
    content: "";
    width: 100%;
    height: 8px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

ul.navbar-nav .nav-item:hover {
    background: rgb(255 255 255 / 09%);
}

ul.sub-menu {
    background: #fff;
    color: #000;
    z-index: 55;
    padding: 7px 00;
    list-style: none;
    position: absolute;
    left: 0px;
    min-width: 200px;
    box-shadow: 0px 0px 5px #ddd;
    display: none;
}

ul.navbar-nav ul.sub-menu a.nav-link {
    color: #0F0F0F;
    padding: 7px 15px;
    width: 100%;
    font-size: 18px;
}


ul.navbar-nav .nav-item {
    position: relative;
    margin-right: 2px;
}

ul.navbar-nav .nav-item.dropdown>a:after {
    content: "\f0d7";
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
    font: var(--fa-font-solid);
}

ul.navbar-nav .sub-menu .nav-item {
    margin: 0;
}

ul.navbar-nav .sub-menu .nav-item:hover {
    background: #f5f5f5;
}

li.nav-item.dropdown:hover ul.sub-menu {
    display: block;
}

.nav-right {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

span.first-letter {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: var(--primary-color);
    margin-right: 5px;
    line-height: 36px;
}

.nav-right .login-info {
    margin-left: 22px;
    display: flex;
    align-items: center;
}

.nav-right .login-info:first-child {
    margin-left: 0px;
}

summary i {
    color: var(--primary-color);
    font-size: 15px;
    margin-left: 5px;
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px;
}

summary::-webkit-details-marker,
summary::marker {
    display: none;
}

details summary:after {
    content: "\f078";
    font: var(--fa-font-solid);
    font-size: 12px;
    color: var(--primary-color);
    display: inline-block;
    margin-left: 5px;
}

details[open] summary:after {
    transform: rotate(180deg);
}

details {
    position: relative;
    padding: 5px 0px;
}

details .details-info {
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    right: 0;
    z-index: 5;
}

.header-bottom {
    font-weight: 500;
    font-size: 20px;
}

.header-bottom .time-zone select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.header-bottom .time-zone select::-ms-expand {
    display: none;
}

.header-bottom .time-zone select {

    font-size: 20px;
    border: none;
    font-family: 'Matter';
    padding: 9px 15px 9px 5px;
    background-image: url(./../images/arrow-bottom-blue.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right center;
    font-weight: 500;
    cursor: pointer;
}

.header-bottom .time-zone label {
    color: #9A9A9A;
}

.header-bottom {
    background: #fff;
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 10%);
    padding: 10px 0px;
}

.header-bottom .time-zone select:focus {
    outline: none;
}

.header-bottom .tab-menu ul li .tab-a.active-a,
.header-bottom .tab-menu ul li .tab-a:hover {
    background: #f8f8ff;
}






@media screen and (max-width: 1700px) {
    h1.site-logo {
        font-size: 38px;
    }

    ul.navbar-nav .nav-item .nav-link {
        font-size: 15px;
    }

    ul.navbar-nav .nav-item a {
        padding: 20px 22px;
    }

    .container {
        padding: 0 30px;
    }

    ul.navbar-nav {
        padding-left: 30px;
    }

    ul.navbar-nav .nav-item.active>a:before {
        height: 6px;
    }

    ul.navbar-nav ul.sub-menu a.nav-link {
        font-size: 16px;
    }

    .nav-right {
        font-size: 17px;
    }

    .header-bottom,
    .header-bottom .time-zone select {
        font-size: 16px;
    }

}

@media screen and (max-width: 1400px) {
    h1.site-logo {
        font-size: 32px;
    }

    ul.navbar-nav .nav-item a {
        padding: 16px 15px;
    }

    ul.navbar-nav .nav-item .nav-link {
        font-size: 13px;
    }

    ul.navbar-nav ul.sub-menu a.nav-link {
        font-size: 14px;
    }

    .nav-right {
        font-size: 15px;
    }

    span.first-letter {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .header-bottom,
    .header-bottom .time-zone select {
        font-size: 14px;
    }

    .header-bottom {
        padding: 7px 0px;
    }
}

/**********Header Css End**********/
.main-wrap {
    padding: 40px 0px;
}

.tab {
    display: none;
}

.tab-active {
    display: block;

}

.info-sec-title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
}

.tab-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-menu ul {
    display: flex;
    list-style: none;
    margin-right: -30px;
    margin-left: auto;
    padding-left: 0px;
}

.tab-menu ul li .tab-a {
    padding: 7px 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 30px;
}

.tab-menu ul li .tab-a.active-a,
.tab-menu ul li .tab-a:hover {
    background: #fff;


}

.tab-menu ul li .tab-a.active-a {
    border: 1px solid var(--primary-color);
}

.white-card {
    background: #fff;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.total-trak-info {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-trak-info>div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0 0 0 / 45%);
}

.total-trak-info>div {
    font-size: 26px;
    font-weight: 500;
    position: relative;
}

.total-trak-info hr {
    height: 30px;
    background: #707070;
    box-shadow: none;
    border: none;
    width: 1px;
    opacity: .4;
}

.top-traking-info {
    margin-top: 10px;
}

.top-traking-info {
    justify-content: space-between
}

.top-traking-info .white-card:first-child {
    width: calc(35% - 3px);
}

.top-traking-info .white-card:nth-child(2) {
    width: calc(26% - 3px);
}

.top-traking-info .white-card:nth-child(3) {
    width: calc(39% - 3px);
}

.m-time-wrap .rage-slider-big {
    flex: 1;
    line-height: 1;
}

.m-time-wrap .m-title {
    width: 170px;
}

.small-text {
    opacity: .5;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
}

/******************rage slider css start***********************/


.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    background: #E5E8ED;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    top: 2px;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: all .15s ease-in-out;
    opacity: 0;
}

.rage-slider-big .range-slider__range {
    height: 20px;
}

.rage-slider-medium .range-slider__range {
    height: 15px;
}

.rage-slider-small .range-slider__range {
    height: 5px;
    border-radius: 10px;
}

.range-slider__range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: all .15s ease-in-out;
    opacity: 0;
}


.range-slider__range:active::-moz-range-thumb {
    background: #000;
    opacity: 0;
}

.select-all-range.range-slider__range::-moz-range-thumb,
.select-all-range.range-slider__range::-webkit-slider-thumb,
.select-all-range.range-slider__range:active::-moz-range-thumb {
    opacity: 1 !important;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background: var(--primary-color);
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value::-moz-range-track {
    background: #000;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/******************rage slider css End***********************/


.cehck-wrap {
    position: relative;
}

.cehck-wrap input[type="checkbox"] {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    border-radius: 0px !important;
    cursor: pointer;
    height: 20px;
    background: #F5F8FF;
    border: 1px solid #7070703D;
}

.cehck-wrap img {
    width: 100%;
    border: 1px solid #70707047;
}

.recent-screenshot-wrap {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}

.recent-screenshot-wrap .wrap {
    width: calc(100% / 6);
    padding: 20px 20px 20px;
}

.bottom-activity-info {
    display: flex;
}

.bottom-activity-info>div:first-child {
    margin-right: 25px;
}

.bottom-activity-info>div img {
    padding-right: 10px;
}

.right-menu a {
    padding-left: 40px;
}

.custom-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0px -8px;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.Web-App-usage-section .custom-row>div {
    position: relative;

    background: #fff;
    margin: 0 8px;
    margin-top: 70px;
}

.Web-App-usage-section .custom-row>div .info-sec-title {
    position: absolute;
    top: -70px;
}


.rage-top-info,
.rage-info-row {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
}

.Web-App-usage-section .small-text {
    display: flex;
    margin-top: 0px;
    font-size: 18px;
}

.Web-App-usage-section .small-text img {
    padding-right: 7px;
}

.Web-App-usage-section .rage-info-row {
    margin-bottom: 30px;
}

.Web-App-usage-section {
    padding-top: 15px;
}

.rage-info-row .left,
.rage-info-row .right {
    width: 25%;
}

.Web-App-usage-section .rage-slider-medium {
    margin-bottom: 30px;
}

.Web-App-usage-section .rage-info-row .rage-slider-medium {
    margin-bottom: 0px;
    padding: 0 10px;
}

.rage-info-row .rage-slider-medium {
    width: 50%;
}

.rage-info-row .right {
    text-align: right;
}

.rage-slider-small.primary-slider {
    display: flex;
    align-items: center;
}

.s-title input {
    margin-right: 10px;
    background: #F5F8FF;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/******work table css start*******/

.work-table table {
    width: 100%;
    border-collapse: collapse;
}

.work-table table th {
    background: #fff;
    padding: 12px 25px;
    color: #9A9A9A;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 5px solid #F8F8FF;
    border-right: 1px solid rgb(112 112 112 / 30%);
}

.work-table tbody tr td {
    background: #fff;
    padding: 25px;
    border-right: 1px solid rgb(112 112 112 / 30%);
    border-bottom: 1px solid rgb(112 112 112 / 30%);

}

.work-table .user-profile {
    display: flex;
    align-items: center;
    position: relative;
}

.work-table .sechdule-time {
    color: #9FA1A3;
    font-size: 14px;
    font-weight: 500;
}

.work-table .worked-time {
    font-size: 21px;
    font-weight: 500;
}

.work-table .user-profile .user-image {
    padding-right: 15px;
}

.work-table tbody tr td:last-child,
.work-table table th:last-child {
    border-right: none;
}

.work-table tbody tr:last-child td {
    border-bottom: none;
}

.work-table .user-profile .user-image img {
    width: 65px;
    border-radius: 50%;
}

/*****Download Traker Section Start**********/

.download-traker-section {
    width: 1050px;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.download-traker-section ul.download-app-button {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 25px 0px 15px;
}

.download-traker-section ul.download-app-button a {
    font-size: 22px;
    background: var(--primary-color);
    color: #fff;
    padding: 12px 45px;
    border-radius: 28px;
    margin: 0 6px;
    align-items: center;
    display: flex;
}

.download-traker-section h2 {
    font-size: 68px;
    color: var(--primary-color);
    margin-bottom: 25px;
    margin-top: 40px;
}

.download-traker-section ul.download-app-button a img {
    margin-right: 12px;
}

.download-traker-section ul.download-app-button a:hover {
    opacity: 0.8;
}

.download-traker-section ul.download-app-button a img {
    margin-right: 12px;
    height: 29px;
}

.download-traker-section ul.download-app-button a:hover {
    opacity: 0.8;
}

.satus-present,
.satus-late {
    background: #D3F6E2;
    padding: 7px 30px;
    display: inline-block;
    border-radius: 28px;
    margin: 8px 0px;
    color: #27764A;
}

.satus-present {
    background: #D3F6E2;
    color: #27764A;
}

.satus-late {
    background: #F6D3D3;
    color: #762727;
}

.tab-menu.flex-start {
    justify-content: flex-start;
}

.header-bottom .left-column,
.header-bottom .right-column {
    display: flex;
    align-items: center;
}

.header-bottom .left-column #user-selected {
    margin-left: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 22px;
    padding: 6px 40px 6px 15px;
    font-size: 17px;
    font-weight: 600;
    background-image: url(../images/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position-y: center;
    background-position-x: calc(100% - 15px);
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Matter';
}

input.select-all-range[type="range"] {
    margin-left: 50px;
    width: 210px;
    height: 5px;
    border: none;
    background: #F8F8FF;
    /* Grey background */

}

.select-month {
    padding: 0 50px;
}

a.select-month-btn {
    width: 10px;
    line-height: 1;
    cursor: pointer;
}

a.select-month-btn:hover {
    opacity: 0.5;
}

.select-month span {
    padding: 0 20px;
    line-height: 1;
}

a.export-option-btn {
    margin-left: 15px;
    display: flex;
    color: #0f0f0f;
    border: 1px solid var(--primary-color);
    border-radius: 22px;
    padding: 5px 15px;
    font-size: 17px;
}

a.export-option-btn img {
    width: 25px;
    margin-right: 5px;
}

.header-bottom .tab-menu ul li .tab-a {
    font-size: 16px;
    padding: 7px 18px;
}

a.export-option-btn:hover {
    background: var(--primary-color);
}

.user-avatar {
    background: #EDF2F9;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.user-avatar.active {
    background: #DAFFEA;
}

.user-avatar:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 4px;
    border-radius: 50%;
    background: #9A9A9A;
}

.user-avatar.active:before {
    background: #27C26C;
}

.time-box {
    background: #F2F5FA;
    padding: 10px 20px;
}

.work-table .time-box .worked-time {
    color: #3D9EFF;
}



.form-group {
    display: block;
}

.form-group input {
    padding: 0;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 22px;
    height: 22px;
    z-index: 5;
}

.form-group span {
    position: relative;
    cursor: pointer;
}

.form-group span:before {
    content:
        '';
    -webkit-appearance: none;
    background-color: #F5F8FF;
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.form-group input:checked+span:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



.toggle-control {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    text-align: center;
}

.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control input:checked~.control {
    background-color: #EBEDF1;
}

.toggle-control input:checked~.control:after {
    left: 25px;
    background: #3D9EFF;
}


.control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 50px;
    border-radius: 50px;
    background-color: #EBEDF1;
    transition: all ease-in-out .3s;
}

.control:after {
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #B5BECC;
    transition: all ease-in-out .3s;
}
.work-table table th img {
    width: 16px;
    margin-left: 10px;
    vertical-align: middle;
}

.work-table tbody tr td button {
    background: transparent;
    border: none;
    padding:0 13px;
}
.work-table tbody tr td .btn-wrap {
    display: flex;
}
.work-table tbody tr td button img {
    width: 22px;
    height: auto;
}

.work-table tbody tr td select {
    font-size: 18px;
    outline: none;
    border: none;
    min-width: 110px;
    color: #545961;
    font-family: 'Matter';
    font-weight: 500;
    max-width: 200px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-right: 5px;
    white-space: nowrap;
}






/*****Download Traker Section End**********/


@media screen and (max-width: 1700px) {
    .info-sec-title {
        font-size: 30px;
    }

    .tab-menu ul li .tab-a {
        padding: 7px 25px;
        font-size: 16px;
    }

    .blue-info-title,
    .small-title {
        font-size: 20px;
    }

    .m-title {
        font-size: 30px;
    }

    .m-time-wrap .m-title {
        width: 140px;
    }

    .rage-slider-big .range-slider__range {
        height: 15px;
    }

    .rage-slider-medium .range-slider__range {
        height: 10px;
    }

    .total-trak-info>div {
        font-size: 24px;
    }

    .white-card {
        padding: 25px;
    }

    .recent-screenshot-wrap .wrap {
        padding: 15px 15px 15px;
    }

    .recent-screenshot-wrap {
        margin: 0 -15px;
    }

    .bottom-activity-info>div:first-child {
        margin-right: 20px;
    }

    .right-menu a {
        padding-left: 30px;
    }

    .rage-top-info,
    .rage-info-row {
        font-size: 19px;
        padding-bottom: 3px;
    }

    .Web-App-usage-section .primary-slider,
    .Web-App-usage-section .rage-info-row {
        margin-bottom: 25px;
    }

    .Web-App-usage-section .small-text {
        font-size: 16px;
    }

    .Web-App-usage-section .custom-row>div {
        margin: 0 5px;
        margin-top: 50px;
    }

    .Web-App-usage-section .custom-row>div .info-sec-title {
        top: -50px;
    }

    .s-title {
        font-size: 20px;
    }

    .s-title span {
        font-size: 15px;
        padding-left: 10px;
    }

    .work-table .worked-time {
        font-size: 19px;
    }

    .work-table tbody tr td {
        padding: 20px;
    }

    .work-table table th {
        padding: 12px 20px;
        font-size: 16px;
    }

    .download-traker-section h2 {
        font-size: 55px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .download-traker-section ul.download-app-button a {
        font-size: 19px;
        padding: 10px 40px;
    }

    .download-traker-section ul.download-app-button a img {
        margin-right: 8px;
        height: 25px;
    }

    .satus-present,
    .satus-late {
        margin: 5px 0px;
    }

    input.select-all-range[type="range"] {
        margin-left: 35px;
        width: 180px;
    }

    .header-bottom .left-column #user-selected {
        font-size: 16px;
        padding: 6px 30px 6px 15px;
        margin-left: 15px;
    }

    .select-month span {
        padding: 0 15px;
    }

    .header-bottom .right-column .tab-menu ul li .tab-a {
        padding: 6px 15px;
        font-size: 15px;
    }

    .select-month {
        padding: 0 30px 0px 40px;
    }

    .select-month span {
        padding: 0 10px;
    }

    a.export-option-btn {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1400px) {
    .info-sec-title {
        font-size: 25px;
    }

    .tab-menu ul li .tab-a {
        padding: 5px 15px;
        font-size: 14px;
    }

    .blue-info-title,
    .small-title {
        font-size: 18px;
    }

    .m-title {
        font-size: 25px;
    }

    .m-time-wrap .m-title {
        width: 120px;
    }

    .total-trak-info>div {
        font-size: 20px;
    }

    .white-card {
        padding: 20px;
    }

    .total-trak-info hr {
        height: 25px;
    }

    .total-trak-info>div span {
        font-size: 14px;
    }

    .recent-screenshot-wrap .wrap {
        padding: 15px 10px 15px;
    }

    .recent-screenshot-wrap {
        margin: 0 -10px;
    }

    .bottom-activity-info>div:first-child {
        margin-right: 15px;
    }

    .bottom-activity-info>div img {
        padding-right: 7px;
    }

    .rage-top-info,
    .rage-info-row {
        font-size: 16px;
        padding-bottom: 0px;
    }

    .Web-App-usage-section .small-text {
        font-size: 13px;
    }

    .Web-App-usage-section .primary-slider,
    .Web-App-usage-section .rage-info-row {
        margin-bottom: 20px;
    }

    .custom-row {
        margin: 0px -5px;
    }

    .small-text {
        font-size: 13px;
    }

    .s-title {
        font-size: 18px;
    }

    .s-title span {
        font-size: 14px;
    }

    .work-table .worked-time {
        font-size: 16px;
    }

    .work-table tbody tr td {
        padding: 15px;
    }

    .work-table .sechdule-time {
        font-size: 12px;
    }

    .work-table table th {
        padding: 12px 15px;
        font-size: 15px;
    }

    .work-table .user-profile .user-image img {
        width: 55px;
    }

    .work-table .user-profile .user-image {
        padding-right: 10px;
    }

    .download-traker-section h2 {
        font-size: 50px;
    }

    .download-traker-section ul.download-app-button a {
        font-size: 17px;
        padding: 10px 35px;
    }

    .download-traker-section {
        width: 800px;
    }

    .Web-App-usage-section .custom-row>div .info-sec-title {
        top: -45px;
    }

    .header-bottom .left-column #user-selected {
        font-size: 14px;
        margin-left: 10px;
        padding: 6px 30px 6px 15px;
    }

    input.select-all-range[type="range"] {
        width: 140px;
    }

    .header-bottom .right-column .tab-menu ul li .tab-a {
        padding: 5px 15px;
        font-size: 14px;
    }

    .header-bottom .right-column {
        font-size: 13px;
    }

    .select-month {
        padding: 0 30px 0px 40px;
    }

    .header-bottom .time-zone select {
        font-size: 14px;
    }

    a.export-option-btn img {
        width: 20px;
    }

    .container {
        padding: 0 25px;
    }

    a.export-option-btn {
        margin-left: 5px;
        /* padding: 3px 10px; */
        font-size: 14px;
    }

    .header-bottom .left-column>p {
        font-size: 16px;
    }
}

/****************/
@media screen and (max-width: 1300px) {

    .select-month {
        padding: 0 20px 0px 30px;
    }

    .header-bottom .right-column .tab-menu ul li .tab-a {
        padding: 5px 12px;
        font-size: 13px;
    }

    .header-bottom .left-column #user-selected {
        font-size: 13px;
    }
}
