*{
    margin: 0px;
    padding: 0px;
}

.traker-main {
    max-width: 550px;
    margin: 10px auto;
    font-family: 'Matter';
    border: 1px solid rgb(112 112 112 / 10%);
}

.traker-head {
    background: #F5F5F5;
}

.trak-top-head {}

.trak-top-head {
    padding: 0px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.traker-logo {
    color: #3D9EFF;
    font-weight: 600;
    font-size: 22px;
}

.trak-menu {
    padding: 10px 18px;
    border-top: 1px solid rgb(112 112 112 / 10%);
}

.trak-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.trak-menu ul li {
    padding-right: 27px;
}

.trak-menu ul li a {
    transition: all ease-in-out .3s;
    text-decoration: none;
    color: #0F0F0F;
    font-size: 16px;
}

.trak-menu ul li a:hover {
    color: #3d9eff;
}

a.minimize span {
    width: 15px;
    height: 1px;
    background: #000;
    display: inline-block;
}

.right-btn a {
    display: flex;
    align-items: center;
}

a.maximize span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
}

.right-btn {
    display: flex;
    margin-right: -18px;
}

.right-btn a {
    margin-left: 0px;
    cursor: pointer;
    position: relative;
    padding: 10px 18px;
    display: flex;
}

a.close span {
    width: 20px;
    height: 1px;
    background: #000;
    transform: rotate(45deg);
    position: relative;
}



.right-btn a span {
    position: relative;
    z-index: 1;
}

a.close span:before {
    content: "";
}

.right-btn a:hover:after {
    opacity: 1;
}

.right-btn a:hover {
    background-color: #d5d5d5;
}

.right-btn a.close span:last-child {
    position: absolute;
    top: 18px;
    left: 18px;
    transform: rotate(-45deg);
}

.tab-form-wrap {
    display: flex;
}

.tab-menu {
    display: flex;
    background: #545961;
    padding: 15px 6px;
    flex-direction: column;
    align-items: center;
    /* min-height: 300px; */
}

section.tab.tab-active {
    display: block;
}

section.tab {
    display: none;
    flex: 1;
}

h4.user-first-name {
    width: 42px;
    background: #fff;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #3D70FF;
    font-size: 23px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.tab-menu ul {
    list-style: none;
}

.tab-menu ul li .tab-a {
    padding: 8px 15px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.tab-menu ul li .tab-a.active-a,.tab-menu ul li .tab-a:hover {
    background: #63676F;
}

.tab-menu ul li .tab-a.active-a:before {
    width: 5px;
    position: absolute;
    height: 100%;
    content: "";
    background: #3d9eff;
    left: 0;
    top: 0;
}

.tab-menu ul li .tab-a img {
    width: 20px;
}

.company-info-bar {
    background: #6D6F78;
    display: block;
    padding: 20px 25px;
    color: #fff;
}

.company-info-bar .company-label {
    font-size: 20px;
    opacity: .4;
    font-weight: 600;
}

.company-name {
    font-size: 34px;
    font-weight: 500;
}

.trak-status-bar {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background: rgb(109 111 120 / 10%);
}

.m-title {
    font-size: 19px;
    font-weight: 500;
}

.on-brake {
    color: #FF973D;
}

.on-working {
    color: #27C26C;
    display: none;
}

.trak-status-bar h5 {
    font-weight: 500;
    font-size: 26px;
    margin-right: 56px;
}
.activate-button {
    width: 54px;
    position: absolute;
    bottom: 26px;
    right: 50px;
    background: #27C26C;
    text-align: center;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.activate-button:hover{
    background-color: #3D9EFF;
}

.trak-info-section {
    position: relative;
}

.activate-button .pause {
    display: none;
}

.user-active .on-brake, .user-active img.play {
    display: none;
}
.user-active .activate-button .pause , .user-active .on-working {
    display: block;
}
.user-active .company-info-bar {
    background: #27C26C;
}

.user-active .activate-button {
    background: #FF973D;
}

.total-trak-info {
    padding: 10px 25px;
}

.trak-info-row {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: start;
}

.trak-info-row>div>span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0 0 0 / 45%);
}

.trak-info-row>div {
    font-size: 21px;
    font-weight: 500;
    position: relative;
    padding: 0 25px;
    min-width: 100px;
}

.trak-info-row hr {
    width: 1px;
    background: rgb(112 112 112 / 40%);
    height: 25px;
    border: none;
}

.trak-info-row>div:first-child {
    padding-left: 0;
}

.trak-info-row>div:last-child {
    padding-right: 0px;
}

/*********************/
.info-wrap {
    padding: 20px 25px;
}
.traker-main [type="radio"]:checked,
.traker-main [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.traker-main [type="radio"]:checked + label,
.traker-main [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.traker-main [type="radio"]:checked + label:before,
.traker-main [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #F0F0F0;
    border-radius: 100%;
    background: #F0F0F0;
}
.traker-main [type="radio"]:checked + label:after,
.traker-main [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #27C26C;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.traker-main [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.traker-main [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bottom-btn-wrap {
    padding: 10px 20px;
    border-top: 1px solid rgb(181 190 204 / 40%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bottom-btn-wrap a {
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
    margin-left: 18px;
    padding: 10px 30px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    min-width: 65px;
}
a.btn-save {
    background: #3D9EFF;
    color: #fff;
}
a.btn-save:hover {
    opacity: .8;
}
a.btn-cancel {
    color: #3D9EFF;
    border: 1px solid #3D9EFF;
}
a.btn-cancel:hover {
    background: #3D9EFF;
    color: #fff;
}
.traker-main [type="radio"] + label {
    margin-top: 20px;
}

.traker-main [type="radio"]:checked + label:before {
    border-color: #27c26c;
}
.tab-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #0F0F0F;
}
.input-wrap label {
    position: absolute;
    top: -8px;
    font-size: 15px;
    color: #9A9A9A;
    left: 15px;
    background-color: #fff;
    line-height: 1;
    width: auto;
    z-index: 55;
    padding: 0 2px;
}
.login-form input {
    width: 100%;
    border: 1px solid #70707063;
    font-size: 16px;
    padding: 12px 15px;
    background: #fff;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.login-form input:focus {
    outline: none;
    border-color:#3D9EFF;
}
.input-wrap {
    position: relative;
}
.login-form {
    padding: 35px 80px;
    margin: 0 auto;
}

button.d-btn.btn-primary {
    font-size: 16px;
    padding: 8px 50px;
    height: 45px;
    color: #fff;
    background: #3D9EFF;
    width: 100%;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Matter';
}
.login-form input[type="password"]{
    /* background-image: url(../images/password-eye.svg); */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: center;
    background-size: 20px;  
}

.password{
    position: relative;
}
i{
    cursor:pointer;
  }

.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 20%;
    right: 10px;
}

.fa-eye {
	color: #000;
}

button.d-btn.btn-primary:hover{
    opacity: .8;
}
.text-center{
    text-align: center;
}


.toaster{
    position: absolute;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #27c26c;    box-shadow: 0 5px 16px 0 rgba(14, 15, 18, 0.32);          
    height: 60px;
    
    color:rgb(255, 255, 255);
    z-index: 99999;
    border-left: 4px solid rgb(1, 75, 1);
    top: 30px;
    border-radius: 5px;
    right: 0;
}
.toaster span{
    font-size: 20px;
    left: 28px;
    top: 28%;
    position: relative;

}
.close_icon{
    height:22px;
    width:22px;
    color:wihte;
    padding-left: 40px;
}
a{
    cursor: pointer;
}

.swal2-confirm,.swal2-styled{
    padding:10px 30px;
    background-color:#27C26C !important;
    border: none !important;
    color: #fff;
    margin-left:12px;
}
.swal2-cancel{
    padding:10px 30px;
    background-color:#000;
    border: none !important;
    color: #fff;
    margin-left:12px;
}
.swal2-icon.swal2-warning {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #e63509 !important;
    border-color: #e63509 !important;
    font-size: 50px !important;
    line-height: 80px;
    text-align: center;
}
.swal2-show{
    width: 400px !important;
}
.swal2-title{
    font-size: 24px !important;
}